In [26]:
import pandas as pd
import numpy as np
import datetime
from datetime import date

In [2]:
data_folder = 'soccer-spi/'

In [13]:
spi_global_rankings_intl = pd.read_csv((data_folder+'spi_global_rankings_intl.csv'))
spi_global_rankings_intl.head(3)

   rank     name    confed   off   def    spi
0     1    Spain      UEFA  3.52  0.56  91.92
1     2   Brazil  CONMEBOL  2.88  0.37  90.29
2     3  Germany      UEFA  3.24  0.61  89.43

In [14]:
spi_global_rankings = pd.read_csv((data_folder+'spi_global_rankings.csv'))
spi_global_rankings.head(3)

,rank,prev_rank,name,league,off,def,spi
0,1,1,Manchester City,Barclays Premier League,3.18,0.30,93.85
1,2,3,Liverpool,Barclays Premier League,2.97,0.22,93.82
2,3,2,Bayern Munich,German Bundesliga,3.45,0.45,93.41

In [15]:
spi_matches = pd.read_csv((data_folder+'spi_matches.csv'))
spi_matches.head(3)

,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,probtie,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2016-08-12,1843,French Ligue 1,Bastia,Paris Saint-Germain,51.16,85.68,0.0463,0.8380,0.1157,...,32.4,67.7,0.0,1.0,0.97,0.63,0.43,0.45,0.0,1.05
1,2016-08-12,1843,French Ligue 1,AS Monaco,Guingamp,68.85,56.48,0.5714,0.1669,0.2617,...,53.7,22.9,2.0,2.0,2.45,0.77,1.75,0.42,2.1,2.10
2,2016-08-13,2411,Barclays Premier League,Hull City,Leicester City,53.57,66.81,0.3459,0.3621,0.2921,...,38.1,22.2,2.0,1.0,0.85,2.77,0.17,1.25,2.1,1.05

In [64]:
spi_matches.columns

Index(['date', 'league_id', 'league', 'team1', 'team2', 'spi1', 'spi2',
       'prob1', 'prob2', 'probtie', 'proj_score1', 'proj_score2',
       'importance1', 'importance2', 'score1', 'score2', 'xg1', 'xg2', 'nsxg1',
       'nsxg2', 'adj_score1', 'adj_score2'],
      dtype='object')

In [22]:
spi_matches.league.unique()

array(['French Ligue 1', 'Barclays Premier League',
       'Spanish Primera Division', 'Italy Serie A', 'German Bundesliga',
       'UEFA Champions League',
       'Mexican Primera Division Torneo Clausura', 'Major League Soccer',
       'Swedish Allsvenskan', 'Norwegian Tippeligaen',
       "National Women's Soccer League", 'Brasileiro SÃ©rie A',
       'Russian Premier Liga', 'Mexican Primera Division Torneo Apertura',
       'Austrian T-Mobile Bundesliga', 'Swiss Raiffeisen Super League',
       'French Ligue 2', 'German 2. Bundesliga',
       'English League Championship', 'Scottish Premiership',
       'Portuguese Liga', 'Dutch Eredivisie',
       'Turkish Turkcell Super Lig', 'Spanish Segunda Division',
       'Italy Serie B', 'Argentina Primera Division',
       'UEFA Europa League', 'United Soccer League', 'Danish SAS-Ligaen',
       'Belgian Jupiler League', 'Japanese J League',
       'Chinese Super League', 'English League One',
       'South African ABSA Premier League', 'English League Two',
       'Greek Super League', 'Australian A-League'], dtype=object)

In [42]:
## Select matches only for the Italian Serie A
italian_seriea = spi_matches[spi_matches.loc[:,"league"]=="Italy Serie A"]
italian_seriea.team1.unique()

array(['AS Roma', 'Juventus', 'AC Milan', 'Palermo', 'Empoli', 'Genoa',
       'Atalanta', 'Chievo Verona', 'US Pescara', 'Bologna', 'Lazio',
       'Napoli', 'Internazionale', 'Udinese', 'Fiorentina', 'Sampdoria',
       'Cagliari', 'Torino', 'Sassuolo', 'Crotone', 'Verona', 'Benevento',
       'Spal', 'Parma', 'Frosinone', 'Lecce', 'Brescia'], dtype=object)

In [58]:
year_column = pd.DatetimeIndex(italian_seriea.loc[:,'date']).year
italian_seriea.loc[:,'match_year'] = year_column
month_column = pd.DatetimeIndex(italian_seriea.loc[:,'date']).month
italian_seriea.loc[:,'match_month'] = month_column
italian_seriea.head(3)

,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,probtie,...,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2,match_year,match_month
31,2016-08-20,1854,Italy Serie A,AS Roma,Udinese,74.63,55.56,0.7204,0.0918,0.1878,...,4.0,0.0,6.12,0.59,2.79,1.15,3.40,0.00,2016,8
40,2016-08-20,1854,Italy Serie A,Juventus,Fiorentina,82.79,69.19,0.6808,0.1010,0.2182,...,2.0,1.0,1.53,0.23,1.81,0.69,2.10,1.05,2016,8
46,2016-08-21,1854,Italy Serie A,AC Milan,Torino,68.13,62.59,0.5185,0.2070,0.2745,...,3.0,2.0,2.54,1.73,1.01,2.58,3.15,2.10,2016,8

In [59]:
italian_seriea_19 = italian_seriea[italian_seriea.loc[:,"match_year"]==2019]
italian_seriea_19

,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,probtie,...,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2,match_year,match_month
17395,2019-01-19,1854,Italy Serie A,AS Roma,Torino,77.70,69.44,0.5903,0.1770,0.2327,...,3.0,2.0,2.57,1.87,1.95,0.47,3.15,2.10,2019,1
17447,2019-01-19,1854,Italy Serie A,Udinese,Parma,58.36,53.68,0.4961,0.2082,0.2957,...,1.0,2.0,1.54,2.26,2.26,0.77,1.05,2.10,2019,1
17467,2019-01-19,1854,Italy Serie A,Internazionale,Sassuolo,83.15,62.94,0.7124,0.0992,0.1884,...,0.0,0.0,1.58,1.28,2.15,1.20,0.00,0.00,2019,1
17482,2019-01-20,1854,Italy Serie A,Frosinone,Atalanta,48.49,78.25,0.1500,0.6441,0.2059,...,0.0,5.0,0.78,2.73,0.68,3.41,0.00,5.18,2019,1
17492,2019-01-20,1854,Italy Serie A,Fiorentina,Sampdoria,72.60,65.95,0.5050,0.2312,0.2637,...,3.0,3.0,1.79,2.00,1.58,1.69,3.15,2.52,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28393,2019-12-21,1854,Italy Serie A,Torino,Spal,61.58,53.91,0.4895,0.2370,0.2735,...,1.0,2.0,1.30,1.13,1.39,1.39,1.05,1.89,2019,12
28411,2019-12-22,1854,Italy Serie A,Atalanta,AC Milan,76.68,73.07,0.5321,0.2279,0.2400,...,5.0,0.0,2.11,0.38,1.35,0.49,4.87,0.00,2019,12
28424,2019-12-22,1854,Italy Serie A,Parma,Brescia,59.12,54.20,0.4531,0.2738,0.2732,...,1.0,1.0,0.89,1.75,1.09,1.05,1.05,1.05,2019,12
28426,2019-12-22,1854,Italy Serie A,Lecce,Bologna,52.11,62.80,0.3634,0.3854,0.2512,...,2.0,3.0,1.64,4.65,1.25,2.04,2.10,3.15,2019,12
28444,2019-12-22,1854,Italy Serie A,Sassuolo,Napoli,61.73,78.66,0.2427,0.5164,0.2409,...,1.0,2.0,1.33,1.99,1.72,2.54,1.05,2.10,2019,12

In [ ]:
# extract only Genoa's matches and attach dataframes
df.plot(x ='Country', y='GDP_Per_Capita', kind = 'bar')

In [63]:
italian_seriea_19_genoa = italian_seriea_19[(italian_seriea_19.loc[:,"team1"]=='Genoa') + (italian_seriea_19.loc[:,"team2"]=='Genoa')]
italian_seriea_19_genoa.head(3)

/Users/giuliagallo/opt/anaconda3/lib/python3.7/site-packages/pandas/core/computation/expressions.py:194: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  op=op_str, alt_op=unsupported[op_str]

,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,probtie,...,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2,match_year,match_month
17529,2019-01-21,1854,Italy Serie A,Genoa,AC Milan,58.94,74.37,0.2682,0.4658,0.2660,...,0.0,2.0,1.65,1.35,1.58,1.07,0.00,1.78,2019,1
17713,2019-01-28,1854,Italy Serie A,Empoli,Genoa,56.19,58.96,0.4379,0.3060,0.2561,...,1.0,3.0,1.88,1.87,1.84,0.74,1.05,3.09,2019,1
17914,2019-02-03,1854,Italy Serie A,Genoa,Sassuolo,59.44,65.33,0.3874,0.3498,0.2628,...,1.0,1.0,1.12,1.25,1.72,1.22,1.05,1.05,2019,2